body {
	margin: 0;
	padding: 0;
 }
 
#table{
	width: 100%;
}

.table{
	min-width: 1024px;
}
 
.results {
	margin: 10px;
}
 
.r1, .r2,  .r3, .r4 {
	display: block;
	height: 1px;
	background: #c0392b;
	overflow: hidden;
}
.r1 {
	margin: 0 5px;
}
.r2 {
	margin: 0 3px;
}
.r3 {
	margin: 0 2px;
}
.r4 {
	margin: 0 1px;
	height: 4px;
}

.options {
	display: inline-block;
	padding: 10px;
	max-width: 10%;
	padding-left: 6%;
	padding-right: 6%;
}

.signature {
	text-align: center;
	width: 180px;
}

.option_font {
	font: 17pt Corbert;
	font-weight: bold;
	background: none;
	margin-left: auto;
    margin-right: auto;
	color: #95a5a6;
}

.padding {
	padding: 20px;
}

.sign_up_content { 
	background: #c0392b;
	color: #fff;
	padding: 3px;
}

.articles {
	padding: 50px;
}

.More, .More:hover, .More:active {
	text-align: center;
	width: 369px;
	z-index: 1;
	padding: 9px 7px;
	border: none; 
	-webkit-border-radius: 6 px;
	-moz-border-radius: 6px; 
	border-radius: 6px; 
	background: #ecf0f1;
	outline: none;
}

.SignUp, .SignUp:hover, .SignUp:active {
	text-align: center;
	right: 8px;
	top: 8px;
	position: absolute;
	width: 80px;
	z-index: 1;
	padding: 5px 17px;
	border: none;
	-webkit-border-radius: 6 px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #c0392b;
	-webkit-box-shadow: 0px 0px 2px, inset 0px 0px 1px #ffffff;
	-moz-box-shadow: 0px 0px 2px,  inset 0px 0px 1px #ffffff;
	box-shadow: 0px 0px 2px, inset 0px 0px 1px #ffffff;
}

.SignIn, .SignIn:hover, .SignIn:active {
	text-align: center;
	right: 132px;
	top: 8px;
	position: absolute;
	width: 80px;
	z-index: 1;
	padding: 5px 17px;
	border: none;
	-webkit-border-radius: 6 px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #2980b9;
	-webkit-box-shadow: 0px 0px 2px, inset 0px 0px 1px #ffffff;
	-moz-box-shadow: 0px 0px 2px,  inset 0px 0px 1px #ffffff;
	box-shadow: 0px 0px 2px, inset 0px 0px 1px #ffffff;
}

.Submit, .Submit:hover, .Submit:active {
	text-align: center; 
	top: 10px;
	width: 369px;
	z-index: 1;
	padding: 9px 7px; 
	border: none; 
	-webkit-border-radius: 6 px;
	-moz-border-radius: 6px; 
	border-radius: 6px; 
	background: #16a085;
	-webkit-box-shadow: 0px 0px 2px, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px,  inset 0px 0px 1px #ffffff;  
	box-shadow: 0px 0px 2px, inset 0px 0px 1px #ffffff;  
}

.Create, .Create:hover, .Create:active {
	text-align: center;
	width: 100%;
	z-index: 1;
	padding: 9px 7px; 
	border: none; 
	-webkit-border-radius: 6 px;
	-moz-border-radius: 6px; 
	border-radius: 6px; 
	background: #16a085;
	-webkit-box-shadow: 0px 0px 2px, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px,  inset 0px 0px 1px #ffffff;  
	box-shadow: 0px 0px 2px, inset 0px 0px 1px #ffffff;  
}

.option {
	top: 8px;
	position: absolute;
}

t1 {
	font: 16pt LucidaSansUnicode;
	color: #fff;
}

t1:visited {
	font: 16pt LucidaSansUnicode;
	color: #fff;
}

t2 {
	font: 26pt Corbert;
	font-weight: bold;
	color: #000;
}

t3 {
	font: 8pt LucidaSansUnicode;
	color: #bdc3c7;
}

t4 {
	font: 16pt LucidaSansUnicode;
	color: #000;
}

t5 {
	font: 16pt LucidaSansUnicode;
	color: #bdc3c7;
}

t5 :visited {
	font: 16pt LucidaSansUnicode;
	color: #bdc3c7;
}


t6 {
	font: 16pt LucidaSansUnicode;
	color: #16a085;
}

a {
	color: #fff;
	text-decoration: none;
}

@font-face {
	font-family: LucidaSansUnicode;
	src: url("fonts/LucidaSansUnicode.eot");
	src: url("fonts/LucidaSansUnicode.eot?") format('eot');
	src: url("fonts/LucidaSansUnicode.woff") format('woff');
	src: local("LucidaSansUnicode"), url("fonts/LucidaSansUnicode.ttf");
}

@font-face {
	font-family: Corbert;
	src: local('Corbert Regular'), local('Corbert-Regular'), url('http://64424.selcdn.ru/webfont/corbert/corbert_regular_regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.radius {
    background: #c0392b;
    padding: 10px;
    margin-bottom: 10px;
}
   
.radius2 {
    background: #ebebeb;
    padding: 10px;
    margin-bottom: 10px;
}
   
.radius3 {
    background: #34495e;
    padding: 14px;
    margin-bottom: 10px;
}

.radius4 {
    background: #16a085;
    padding: 14px;
    margin-bottom: 10px;
}

#menu {
	display: inline-block;
	visibility: hidden;
}

#hidden {
	visibility: hidden;
}

#body {
	 top: 300px;
	 position: center;
	 position: relative;
}

#new_article {
	 padding: 10%;
	 position: center;
	 position: relative;
}

#title  {
	 width: 19%;
	 height: 45px;
	 border-top: #3498db;
	 border-right: #3498db;
	 border-left: #3498db;
	 font: 17pt Corbert;
	 font-weight: bold;
	 outline: none;
}

#enter_summary {
	 width: 100%;
	 height: 10%;
	 border-top: #3498db;
	 border-right: #3498db;
	 border-left: #3498db;
	 font: 17pt Corbert;
	 font-weight: bold;
	 outline: none;
}

#main_menu {left: 10px;} #update_menu {left: 140px;} #new_aricle_menu {left: 290px;} #delete_menu {left: 425px;}

#enter_title, #enter_author, #choose_category , #enter_year, #enter_id {
	 width: 100%;
	 height: 45px;
	 border-top: #3498db;
	 border-right: #3498db;
	 border-left: #3498db;
	 font: 17pt Corbert;
	 font-weight: bold;
	 outline: none;
}

#login, #password {
	 width: 19%;
	 height: 45px;
	 border-top: #3498db;
	 border-right: #3498db;
	 border-left: #3498db;
	 font: 17pt Corbert;
	 font-weight: bold;
	 outline: none;
}

#name, #category, #limit, #year  {
	 height: 45px;
	 border-top: none;
	 border-right: none;
	 border-left: none;
	 font: 17pt Corbert;
	 font-weight: bold;
	 outline: none;
	 width: 200%;
	 max-width: 200%;
	 padding: 6%;
}

#comment {
	 top: 590px;
}

#submit {
	 top: 620px;
	 z-index: 2;
	 width: 50%;
	 max-width: 20%;
}

#arrow {
	height: 30px;
}

#more {
	 z-index: 2;
	 width: 50%;
	 max-width: 20%;
	 border: none;
}

#article {
	 padding: 30px;
}